@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: ffffff;
    line-height: 1.7;
    color: #de4d4d;
}

header {
    text-align: center;
}

main {
    text-align: center;
}

#main_title {
    font-size: 80px;
    text-align: center;
    margin: 40px 0 40px;
}

.title {
    font-size: 50px;
}

footer {
    background-color: #cccccc;
    font-size: 20px;
    text-align: center;
    padding: 40px 0 40px 0;
}